<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper.StrongName" version="1.50.2" targetFramework="net471" />
  <package id="IdentityModel" version="1.9.2" targetFramework="net471" />
  <package id="IdentityServer3.AccessTokenValidation" version="2.13.0" targetFramework="net471" />
  <package id="jose-jwt" version="2.3.0" targetFramework="net471" />
  <package id="log4net" version="2.0.5" targetFramework="net471" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Versioning" version="2.3.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net471" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net471" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net471" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="net471" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net471" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="1.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Json" version="1.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="1.0.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="1.0.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="1.0.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.2.206221351" targetFramework="net471" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net471" />
  <package id="Microsoft.Net.Http.Headers" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Cors" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net471" />
  <package id="NewVoiceMedia.Claims" version="1.2.10" targetFramework="net471" />
  <package id="NewVoiceMedia.Common" version="18.1.20" targetFramework="net471" />
  <package id="NewVoiceMedia.EavStore" version="18.1.20" targetFramework="net471" />
  <package id="NewVoiceMedia.Ninject" version="1.0.0.0" targetFramework="net471" />
  <package id="Nexmo.Csharp.Client" version="3.2.2" targetFramework="net471" />
  <package id="Ninject" version="3.3.4" targetFramework="net471" />
  <package id="Ninject.Extensions.NamedScope" version="3.3.0" targetFramework="net471" />
  <package id="Ninject.Web.Common" version="3.3.1" targetFramework="net471" />
  <package id="Ninject.Web.Common.OwinHost" version="3.3.0" targetFramework="net471" />
  <package id="Ninject.Web.Common.WebHost" version="3.3.1" targetFramework="net471" />
  <package id="Ninject.Web.WebApi" version="3.3.0" targetFramework="net471" />
  <package id="Ninject.Web.WebApi.OwinHost" version="3.3.0" targetFramework="net471" />
  <package id="Ninject.Web.WebApi.WebHost" version="3.3.0" targetFramework="net471" />
  <package id="NSwag.Annotations" version="11.19.2" targetFramework="net471" />
  <package id="NSwag.MSBuild" version="10.4.0" targetFramework="net471" developmentDependency="true" />
  <package id="Owin" version="1.0" targetFramework="net471" />
  <package id="Respond" version="1.2.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Collections" version="4.0.11" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net471" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.4.403061554" targetFramework="net471" />
  <package id="System.IO" version="4.1.0" targetFramework="net471" />
  <package id="System.Linq" version="4.1.0" targetFramework="net471" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net471" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net471" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.4.0" targetFramework="net471" />
  <package id="System.Threading" version="4.0.11" targetFramework="net471" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net471" />
</packages>